<footer class="footer">
   <div class="container p-4">
      <div class="row">
         <div class="col-lg-3 col-6">
            <a href="#" class="text-decoration-none text-secondary d-block">News</a>
            <a href="#" class="text-decoration-none text-secondary d-block">Events</a>
            <a href="#" class="text-decoration-none text-secondary d-block">About</a>
            <a href="#" class="text-decoration-none text-secondary d-block">FAQs</a>
         </div>
         <div class="col-lg-3 col-6">
            <a href="#" class="text-decoration-none text-secondary d-block">Privacy Policy</a>
            <a href="#" class="text-decoration-none text-secondary d-block">Contact Us</a>
            <a href="#" class="text-decoration-none text-secondary d-block">Complains</a>
         </div>
         <div class="col-lg-3 col-md-6">
            <p class="text-secondary">Subscribe to Newsletter</p>
            <div class="input-group mb-3">
               <input type="text" class="form-control bg-light" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2" />
               <button class="btn btn-info text-white" type="button" id="">Subscribe</button>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <p class="text-secondary">Follow us on</p>
            <div class="links">
               <a href="#" class="btn btn-sm">
                  <svg-icon src="./assets/images/twitter.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#565960' }"></svg-icon>
               </a>

               <a href="#" class="btn btn-sm">
                  <svg-icon src="./assets/images/facebook.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#565960' }"></svg-icon>
               </a>

               <a href="#" class="btn btn-sm">
                  <svg-icon src="./assets/images/linkedin.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#565960' }"></svg-icon>
               </a>

               <a href="#" class="btn btn-sm">
                  <svg-icon src="./assets/images/youtube-logotype.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#565960' }"></svg-icon>
               </a>

               <a href="#" class="btn btn-sm">
                  <svg-icon src="./assets/images/instagram.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#565960' }"></svg-icon>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="copy-right p-2">
      <p class="text-center m-0 text-light">All rights reserved - Link Development Company © 2020</p>
   </div>
</footer>
