<div class="menu d-flex position-fixed bottom-0 bg-primary" *ngIf="open">
   <div class="social d-flex flex-column justify-content-end p-4 border-end border-secondary">
      <button class="btn my-2">
         <svg-icon src="./assets/images/twitter.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#fff' }"></svg-icon>
      </button>

      <button class="btn my-2">
         <svg-icon src="./assets/images/facebook.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#fff' }"></svg-icon>
      </button>

      <button class="btn my-2">
         <svg-icon src="./assets/images/linkedin.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#fff' }"></svg-icon>
      </button>

      <button class="btn my-2">
         <svg-icon src="./assets/images/youtube-logotype.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#fff' }"></svg-icon>
      </button>

      <button class="btn my-2">
         <svg-icon src="./assets/images/instagram.svg" [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': '#fff' }"></svg-icon>
      </button>
   </div>
   <div class="links p-3 d-flex flex-column">
      <h4 class="h4 text-light mt-4">Home</h4>

      <h4 class="h4 text-light mt-4">About us</h4>
      <a href="#" class="text-decoration-none text-white-50">who are us</a>
      <a href="#" class="text-decoration-none text-white-50">Why us?</a>

      <h4 class="h4 text-light mt-4">News</h4>
      <a href="#" class="text-decoration-none text-white-50">News</a>
      <a href="#" class="text-decoration-none text-white-50">Events</a>

      <h4 class="h4 text-light mt-4">Careers</h4>
      <a href="#" class="text-decoration-none text-white-50">Opportunities</a>

      <h4 class="h4 text-light mt-4 mt-auto">Contact Us</h4>
      <h4 class="h4 text-light mt-4">Site Map</h4>
   </div>
</div>
