<div class="news-list py-4">
   <div class="container">
      <nav
         style="
            --bs-breadcrumb-divider: url(
               &#34;data:image/svg + xml,
               %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
         "
         aria-label="breadcrumb"
         aria-label="breadcrumb"
      >
         <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a [routerLink]="['/']" class="text-decoration-none text-info">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/news']" class="text-decoration-none text-info">News</a></li>
            <li class="breadcrumb-item active" aria-current="page">News Details</li>
         </ol>
      </nav>
      <div class="title mb-5">
         <h1 class="h1">News Details</h1>
      </div>
      <div class="row">
         <div class="col" *ngFor="let article of articles">
            <app-article-card [article]="article" [categories]="categories"></app-article-card>
         </div>
      </div>
   </div>
</div>
